.bskcard-home {
    @apply relative w-[335px] h-[685px]
}

.bskcard-home .bsk-avatar {
    @apply absolute w-[110px] h-[110px] rounded-full bg-shades-0 inline-flex justify-center items-center z-20;
    box-shadow: 0px 3.82609px 3.82609px rgba(0, 0, 0, 0.25);
}

.bskcard-home .bsk-content {
    @apply absolute min-w-[320px] h-[655px] bottom-[0px] left-[15px];
    background: linear-gradient(180deg, #D9D9D9 0%, #FFFFFF 11.98%, #FFFFFF 100%);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px 25px 30px 30px;
}

.bskcard-home .bsk-content .header {
    @apply relative bg-shades-0 min-h-[50px] pl-[115px] flex flex-col justify-evenly z-10;
    border-radius: 20px 20px 0px 0px;
}

.bskcard-home .bsk-content .body {
    @apply relative h-[475px] flex justify-center
}

.bskcard-home .bsk-content .body .thumbnail-free {
    @apply bg-free-300
}

.bskcard-home .bsk-content .body .thumbnail-locked {
    @apply bg-locked-300
}

.bskcard-home .bsk-content .body .thumbnail-unlocked {
    @apply bg-unlocked-300
}

.bskcard-home .bsk-content .footer {
    @apply pt-[15px] px-[20px] h-[100px]
}

.bskcard-profile {
    @apply relative w-[280px] h-[625px] bg-shades-0 rounded-[5px];
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

.bskcard-profile .header-locked {
    @apply  bg-locked-500
}

.bskcard-profile .header-unlocked {
    @apply bg-unlocked-500
}

.bskcard-profile .header-free {
    @apply bg-free-500
}

.bskcard-profile .header-mine {
    @apply bg-mine-500
}

.bskcard-profile .body-free {
    @apply bg-free-300 
}

.bskcard-profile .body-unlocked {
    @apply bg-unlocked-300
}

.bskcard-profile .body-locked {
    @apply bg-locked-300
}

.bskcard-profile .body-mine {
    @apply bg-mine-300
}

.bskcard-profile .footer {
    @apply my-[13px] mx-[9px]
}