@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato-light';
    src: url('./../src/fonts/lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-normal';
    src: url('./../src/fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-normal-italic';
    src: url("./../src/fonts//lato//Lato-Italic.ttf")
}

@font-face {
    font-family: 'Lato-semibold';
    src: url('./../src/fonts/lato/Lato-Semibold.ttf');
}

@font-face {
    font-family: 'Lato-bold';
    src: url('./../src/fonts/lato/Lato-Bold.ttf')
}

@font-face {
    font-family: 'Lato-extrabold';
    src: url('./../src/fonts/lato/Lato-Heavy.ttf');
}

h1 {
    @apply text-2xl sm:text-3xl
}

h2 {
    @apply text-xl sm:text-2xl
}

h3 {
    @apply text-lg sm:text-xl
}

h4 {
    @apply text-base sm:text-lg
}

h5 {
    @apply text-sm sm:text-base
}

h6 {
    @apply text-xm sm:text-sm
}

input {
    @apply outline outline-1 outline-neutral-800 bg-shades-0 rounded-[15px] px-4 py-[15px] font-normal text-sm text-neutral-800
}

input::placeholder {
    @apply font-normalitalic text-neutral-800 text-sm
}

input:hover {
    @apply outline-primary-600 text-primary-600
}

input:hover::placeholder {
    @apply text-primary-600
}

input:focus {
    @apply outline-neutral-800 text-neutral-800
}

input:focus::placeholder {
    color: transparent;
}

input:disabled {
    @apply bg-neutral-100 outline-none cursor-not-allowed
}

input:disabled:hover {
    @apply text-neutral-800
}

input:disabled:hover::placeholder {
    @apply text-neutral-800
}

select {
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 10px;
    @apply outline outline-1 outline-neutral-800 bg-shades-0 rounded-[15px] pl-4 pr-8 py-[13.5px] font-normal text-sm text-neutral-800
}

select:hover {
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(239 ,160, 88)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    @apply outline-primary-600 text-primary-600
}

select:focus {
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(199 ,105, 19)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    @apply outline-primary-700 text-primary-700
}

select:disabled {
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(84 ,80, 78)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    @apply outline-none bg-neutral-100
}

select:disabled:hover {
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(84 ,80, 78)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
   @apply text-neutral-800 
}

option {
    @apply text-neutral-800 font-normal text-sm
}

button[type="button"] {
    @apply transition duration-300 leading-5 text-[16px] font-normal
}

button[type="button"]:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

button[type="button"]:disabled {
    @apply bg-neutral-100 cursor-not-allowed text-neutral-500 outline-none
}

button[type="button"]:disabled:hover {
    @apply bg-neutral-100 cursor-not-allowed text-neutral-500
}

button[type="button"]:disabled:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

button[type="button"]:disabled svg {
    @apply fill-neutral-500
}

.btn {
    @apply p-4
}

.btn-icon {
    @apply p-2.5 w-[40px] h-[40px]
}

.btn-rounded {
    @apply rounded-[8px]
}

.btn-pill {
    @apply rounded-full
}

.btn-primary {
    @apply bg-primary-600 hover:bg-primary-300 active:bg-primary-700 text-shades-0
}

.btn-primary svg {
    @apply fill-shades-0 transition duration-300
}

.btn-primary-outline {
    @apply outline outline-1 text-primary-600 bg-shades-0 hover:text-shades-0 hover:bg-primary-300 hover:outline-none active:bg-primary-700
}

.btn-primary-outline svg {
    @apply fill-primary-600 transition duration-300
}

.btn-primary-outline:hover svg {
    @apply fill-shades-0
}

.btn-secondary {
    @apply bg-secondary-600 hover:bg-secondary-300 active:bg-secondary-700 text-shades-0
}

.btn-secondary svg {
    @apply fill-shades-0 transition duration-300
}

.btn-secondary-outline {
    @apply outline outline-1 text-secondary-600 bg-shades-0 hover:text-shades-0 hover:bg-secondary-300 hover:outline-none active:bg-secondary-700
}

.btn-secondary-outline svg {
    @apply fill-secondary-600 transition duration-300
}

.btn-secondary-outline:hover svg {
    @apply fill-shades-0
}

.containerBtn {
    @apply py-[11.5px] rounded-[10px]
}

.containerBtn-primary {
    @apply bg-primary-600 hover:bg-primary-300 active:bg-primary-600 text-shades-0
}

.containerBtn-primary svg {
    @apply fill-shades-0 transition duration-300
}

.containerBtn-secondary {
    @apply outline outline-1 text-primary-600 bg-shades-0 hover:text-shades-0 hover:bg-primary-300 hover:outline-none active:bg-primary-600
}

.containerBtn-secondary svg {
    @apply fill-primary-600 transition duration-300
}

.containerBtn-secondary:hover svg {
    @apply fill-shades-0
}

.containerBtn:active {
    @apply bg-primary-700
}

.avatar {
    @apply rounded-full
}

.avatar-sm {
    @apply w-[34px] h-[34px]
}

.avatar-md {
    @apply w-[70px] h-[70px]
}

.avatar-lg {
    @apply w-[120px] h-[120px]
}