@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato-light';
    src: url('./../src/fonts/lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-normal';
    src: url('./../src/fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-semibold';
    src: url('./../src/fonts/lato/Lato-Semibold.ttf');
}

@font-face {
    font-family: 'Lato-bold';
    src: url('./../src/fonts/lato/Lato-Bold.ttf')
}

@font-face {
    font-family: 'Lato-extrabold';
    src: url('./../src/fonts/lato/Lato-Heavy.ttf');
}

h1 {
    @apply text-2xl sm:text-3xl
}

h2 {
    @apply text-xl sm:text-2xl
}

h3 {
    @apply text-lg sm:text-xl
}

h4 {
    @apply text-base sm:text-lg
}

h5 {
    @apply text-sm sm:text-base
}

h6 {
    @apply text-xm sm:text-sm
}

button {
    @apply p-4
}